@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&family=Zeyada&display=swap');

header{
    height: 100vh;

}header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color:blueviolet ;
    background-image: url('../images/site.png');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: block;
    z-index: -10;
}

h1 {
    color: white;
    font-family: 'Arial', sans-serif;
    font-weight: 800;
    font-size: 48;
}

header h2{
    font-family: 'Arial', sans-serif;
    color: white;
    font-weight: 200;
    font-size: 20;
}

header p{
    font-family: 'Arial', sans-serif;
    color: white;
    font-weight: 300;
    font-size: 25;
}

ol{
    font-family: 'Arial', sans-serif;
    color: white;
    font-weight: 200;
    font-size: 25;
}

#secao_apresentacao{
    display: flex;
    align-items: center;
    gap: 5rem;
    padding: 2rem;    height: 70vh;
}
#secao_apresentacao img{
    border-radius: 25%;
}

#texto_apresentacao{
        color: #1d1d1d;
}

#texto_apresentacao h2{
    font-size: 2.25rem;
    /*16px = 1rem*/
}

#texto_apresentacao p{
    font-size: 1.75rem;
    /*16px = 1rem*/
}

#secao-servicos{
    height: 100vh;    
    background-color: blueviolet;
}


#secao-servicos ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    height: 100%;
}

#secao-servicos ul{
    list-style: none;
}

.card { 
   max-height: 420px;
    max-width: 300px;
    position: relative;
    cursor: pointer;
}

.card .images{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.images img{
    height: 100%;
    width: 100%;
}

.card .texto{
    position: absolute;
    top: 0;
    opacity: 0;
    color: black;
    transition: opacity .5s;
}

.card:hover .texto{
    opacity: 1;
}


